<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首頁</title>
    <style>
        .todo {
            text-align: left;
            background-color: rgb(119, 160, 146);
            border-radius: 12px;
            padding: 12px;
            margin: 12px;
            width: 500px;
        }
    </style>
</head>

<body>
    <h1>View Todo</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">更新</button>
    </form>
    {{message}}

</body>

</html>