<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首頁</title>
    <style>
        .todo {
            text-align: left;
            background-color: rgb(119, 160, 146);
            border-radius: 12px;
            padding: 12px;
            margin: 12px;
            width: 500px;
        }
    </style>
</head>

<body>
    <h1>Todo</h1>
    {% if todo %}
    <div class="todo">
        <h3>{{todo.title}}</h3>
        <h4>{{todo.created}}</h4>
        <p>{{todo.text}}</p>
        <u>{{todo.important}}</u>
        {% else %}
        <h2>無此代辦事項</h2>
        {% endif %}
    </div>

</body>

</html>